{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Informes y Análisis</title>
<link rel="stylesheet" type="text/css" href="{% static '/css/informes.css' %}"> 
<link rel="stylesheet" href="{% static '/lib/menuhb.css' %}">

</head>
<body>
<div class="header">
  <div class="title">
    <div class="menu-icon" onclick="toggleMenu()"><i class="fas fa-bars"></i></div>
    <div style="flex-grow: 1;"></div> <!-- Este div vacío ocupará el espacio disponible -->
    <i class="fas fa-home"></i><span style="margin-left: 5px;">INFORMES Y ANALISIS</span>
    <div style="flex-grow: 1;"></div> <!-- Otro div vacío para equilibrar el espacio -->
  </div>
  <div class="profile">
    <img src="{% static '/img/ICONO.png' %}" alt="Foto de Perfil" class="profile">
  </div>
  <!-- Menú desplegable -->
  <div class="menu" id="menu">
    <!-- Aquí puedes agregar los elementos del menú desplegable -->
    <a href="dashboard.html">INICIO</a>
    <a href="recomendacion_nutri.html">Recomendaciones Nutricionales</a>
    <a href="recetas.html">Recetas Inteligentes</a>
    <a href="clasificacion.html">Clasificación Inteligente</a>
    <a href="informes.html">Informes y Analisis</a>
    <a href="facial.html">Reconocimiento de Alimentos</a>
  </div>
</div>

<script src="{% static '/js/menu.js' %}"></script>

</body>
</html>